/* .vis-container{
    width: 100%;
} */

@font-face {
    font-family: 'Museo-Sans';
    src: url('fonts/MuseoSans_100.otf') format('opentype');
    font-weight: 100;
}
@font-face {
    font-family: 'Museo-Sans';
    src: url('fonts/MuseoSans_300.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Museo-Sans';
    src: url('fonts/MuseoSans_500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Museo-Sans';
    src: url('fonts/MuseoSans_700.otf') format('opentype');
    font-weight: 700;
}

body {
    font-family: 'Museo-Sans', sans-serif !important;
}

.jumbotron {
    background-color: #e21e2d !important;
}

.dark-section {
    background-color: #f7f8f9 !important;
}

.body-bg {
    background-color: #ededf0 !important;
}